<div class="flex flex-col mx-10">
  <div class="flex space-x-10 items-center">
    <div class="flex flex-col w-2/3">
      <h1 class="font-bold text-2xl"><%= @organization.name %></h1>
      <p class="text-gray-600 my-2"><%= @organization.description %></p>
    </div>
    <div class="my-5">
      <div class="flex items-center">
        <h2 class="font-bold text-lg mr-2 text-start">Members</h2>
        <button id="showInviteForm" class="text-blue-500 hover:text-blue-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div class="flex -space-x-4 rtl:space-x-reverse">
        <% @organization.memberships.includes(:user).each_with_index do |membership, index| %>
          <% if index < 3 %>
            <% if membership.user.photo.attached? %>
              <%= image_tag membership.user.photo, class: "w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" %>
            <% else %>
              <div class="relative w-9 h-9 overflow-hidden bg-gray-100 border-2 border-white rounded-full dark:border-gray-800">
                <svg class="absolute w-11 h-11 text-gray-400 -left-1.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if @organization.memberships.count > 3 %>
          <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800" href="#">
            +<%= @organization.memberships.count - 3 %>
          </a>
        <% end %>
      </div>
    </div>
  </div>

  <div id="inviteUserForm" class="hidden my-5">
    <%# <h2 class="font-semibold text-lg mt-3">Invite User</h2> %>
      <div class="flex">
    <%= form_with url: organization_memberships_path(@organization), local: true do |f| %>
        <%= f.label :user_id, "Invite Member", class: "block" %>
        <%= f.collection_select 'membership[user_id]', User.all, :id, :email,
            { prompt: "Select a user" },
            { class: "rounded-md focus:ring-tertiary focus:border-tertiary mr-2" } %>
        <%= f.label :role, class: "block" %>
        <%= f.select 'membership[role]', Membership.roles.keys.map { |role| [role.humanize, role] },
            { prompt: "Select a role" },
            { class: "rounded-md focus:ring-tertiary focus:border-tertiary mr-2" } %>
        <%= f.submit "Invite User", class: "btn" %>
    <% end %>
      </div>
  </div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const showInviteFormButton = document.getElementById('showInviteForm');
      const inviteUserForm = document.getElementById('inviteUserForm');

      showInviteFormButton.addEventListener('click', function() {
        inviteUserForm.classList.toggle('hidden');
      });
    });
  </script>

  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center justify-between items-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-tertiary hover:text-tertiary dark:text-purple-500 dark:hover:text-tertriary border-tertiary dark:border-tertiary hover:border-tertiary" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
      <div class="flex">
        <% @organization.boards.each_with_index do |board, index| %>
          <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg <%= 'active' if index == 0 %>"
                    id="board-<%= board.id %>-tab"
                    data-tabs-target="#board-<%= board.id %>-content"
                    type="button"
                    role="tab"
                    aria-controls="board-<%= board.id %>"
                    aria-selected="<%= index == 0 %>">
              <%= board.name %>
            </button>
          </li>
        <% end %>
      </div>
      <%= link_to "Add a Board", new_organization_board_path(@organization), class: "text-center text-sm bg-gray-300 px-2 py-1 rounded-md w-32" %>
    </ul>
  </div>
  <div id="default-styled-tab-content">
    <% @organization.boards.each_with_index do |board, index| %>
      <div class="<%= 'hidden' unless index == 0 %> p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
           id="board-<%= board.id %>-content"
           role="tabpanel"
           aria-labelledby="board-<%= board.id %>-tab">
        <%= render 'shared/board', board: board, lists: board.lists %>
      </div>
    <% end %>
  </div>


</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const tabButtons = document.querySelectorAll('[role="tab"]');
    const tabContents = document.querySelectorAll('[role="tabpanel"]');

    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            const target = button.getAttribute('data-tabs-target');
            tabContents.forEach(content => {
                content.classList.add('hidden');
            });
            document.querySelector(target).classList.remove('hidden');

            tabButtons.forEach(btn => {
                btn.classList.remove('active');
                btn.setAttribute('aria-selected', 'false');
            });
            button.classList.add('active');
            button.setAttribute('aria-selected', 'true');
        });
    });
});
</script>
